{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="layout layout">
  <div class="container">
    <!-- Room List Start -->
    <div class="roomList">
      <div class="roomList__header">
        <div>
          <h2>Advertisements</h2>
        </div>
      </div>
      
      <div class="roomList__content">
        <div class="activities-1">
        <button type="button" onClick="onClick()">
            <img src="{% static 'images/ad1.jpg' %}" width="400" height="500"/>
          </button>
        </div>

      <div class="activities-2">
        <button type="button" onClick="onClick()">
            <img src="{% static 'images/ad2.jpg' %}" width="400" height="400"/>
        </button>
      </div>

      <div class="activities-3">
        <button type="button" onClick="onClick()">
            <img src="{% static 'images/ad3.jpg' %}" width="400" height="400"/>
          </button>
      </div>
      </div>
      
    </div>
    <!-- Room List End -->
  </div>
</main>

<script>
    let clicks = 0;

    function onClick() {
        clicks += 1.0;
        document.getElementById("clicks").innerHTML = clicks
    };
</script>

{% endblock %}