{% extends 'main.html' %} {% load static %} {% block content %}

<main class="layout layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 img-circle">
                <img src="{% static 'images/ad1.jpg' %}" style="width: 300px; height:auto"
                    id="ad1" data-cost="10" onclick="sendAdClick(this)">
            </div>
            <div class="col-sm-6">
                <p id="ad1-count">0</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 img-circle">
                <img src="{% static 'images/ad2.jpg' %}" style="width: 300px; height:auto"
                    id="ad2" data-cost="20" onclick="sendAdClick(this)">
            </div>
            <div class="col-sm-6">
                <p id="ad2-count">0</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 img-circle">
                <img src="{% static 'images/ad3.jpg' %}" style="width: 300px; height:auto"
                    id="ad3" data-cost="30" onclick="sendAdClick(this)">
            </div>
            <div class="col-sm-6">
                <p id="ad3-count">0</p>
            </div>
        </div>
    </div>
</main>

<script>
    setInterval(requestCount, 1000);

    function sendAdClick(elem) {
        var ad = new Object();
        ad.adId = elem.getAttribute("id");
        ad.adCost = parseInt(elem.getAttribute("data-cost"));
        ad.csrfmiddlewaretoken = '{{ csrf_token }}';
        $.ajax({
            "url": '/home/recordClick',
            "type": 'POST',
            "data": ad,
            {% comment %} "success": function(data) {
                alert(data.status)
                //document.getElementById("str1").innerHTML = data.status;
            } {% endcomment %}
            //'csrfmiddlewaretoken': '{{ csrf_token }}'
        })
        //$.post("home", ad)
    }

    function requestCount() {
        $.get("home/getCounts", function(data, status) {
            if (status == "success") {
                $.each(data.df, function(i, row) {
                    document.getElementById(row.asset + "-count").innerHTML = row.count;
                });
            } else {
                console.log("GET request failed with status: " + status);
            }
        });
    }
</script>

{% endblock %}